@charset "utf-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0:#dafdba;
    --cor1:#02DBC6;
    --cor2:#45C4B0;
    --cor3:#13678A;
    --cor4:#012030;

    --font-padrao:arial,verdana,sans-serif;
    --font-especial:'Bebas Neue', cursive;
    --font-android: 'android';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);

}

header {
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor3),var(--cor4));
    min-height: 120px;
    padding: 20px;
    text-align: center;
    
}
header h1 {
    font-family:var(--font-especial);
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
    font-weight: lighter;
    text-align: center;
    
    
}
header p {
    color: white;
    font-size: 1em;
    font-family: var(--font-padrao);
}
nav {
    background-color: var(--cor4);
    padding-bottom: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
    
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor3);
    border-radius: 2px;
}
main {
    background-color: white;
    font-family: var(--font-padrao);
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.205);
    border-radius: 0px 0px 3px 3px;
}
main h1{
    font-family: var(--font-android);
    font-size: 2em;
    color: var(--cor4);
}
main h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right,var(--cor2),transparent);
    color:var(--cor4);
}
main p{
    text-indent: 20px;
    text-align: justify;
    font-family: var(--font-padrao);
    padding: 10px;

} 
img{
    width: 100%;
}

img.androidd{
    width: 40%;
    display: block;
    margin: auto;
}
div.video{
background-color: #13678A;
padding: 20px;
margin: 0px -15px 20px -16px;
padding-bottom: 56%;
position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
    

aside {
    background-color: #45C4B0;
    border-radius: 3px;
    box-shadow: ;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
}
aside h3{
    background-color: var(--cor4);
    padding:10px;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
    color: white;

}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    padding: 10px;
    
}


footer {
    background-color: var(--cor4);
    text-align: center;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    padding: 5px;
}

main strong {
    font-family: var(--font-especial);
    font-weight: bold;
    color: var(--cor4);
}
main a{
    font-family: var(--font-especial);
    color: var(--cor4);
    text-decoration: none;
    padding: 3px;
    
}
main a:hover {
    background-color: var(--cor4);
    color: white;
    border-radius: 2px;
}
main a::after {
    content:'\1F517\00A0\00A0';   
}